name: build-general

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          repository: lancard/custom-map-tile-server
          ref: main
          path: build

      - uses: actions/checkout@v3
        with:
          repository: lancard/korea-openstreetmap-tiles
          ref: main
          path: tiles

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - name: Build tiles
        run: date > tiles/nue.txt
      # - run: ./build/build_tiles.sh

      - name: Unset some values for another repository
        run: |
          cd tiles
          git config --unset-all http.https://github.com/.extraheader

      - name: Commit and Push tiles (another repository)
        run: |
          cd tiles
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"
          git config -l
          git add .
          git commit -am "upload tiles"
          git push