name: build-general

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: recursive
          repository: lancard/custom-map-tile-server
          refs: main
          path: build

      - uses: actions/checkout@v3
        with:
          repository: lancard/korea-openstreetmap-tiles
          refs: main
          path: tiles
      
      - uses: actions/setup-node@v3
        with:
          node-version: 16
      
      - name: Build tiles
        run: date > tiles/nue.txt
      # - run: ./build_tiles.sh

      - name: Setup git user
        run:
          git config --global user.name "$(git --no-pager log --format=format:'%an' -n 1)"
          git config --global user.email "$(git --no-pager log --format=format:'%ae' -n 1)"

      - name: Commit and Push tiles
        run: |
          cd tiles
          git add . 
          git commit -m "update tiles"
          git push
